venv/

# Terraform state and cache
.terraform/
crash.log
*.tfstate
*.tfstate.backup
terraform.tfstate
terraform.tfstate.backup

# Sensitive files
*.tfvars
*tfvars.json

# IDE files
.vscode/
.idea/
.DS_Store